* {
    margin: 0;
    padding: 0;
}

.header {
    width: 1440px;
    height: 88px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    background-color: whitesmoke;
}

.Head {
    margin-top: 30px;
    margin-left: 60px;
}

.Head1 {
    margin-left: 500px;
}

.Head1 ul li {
    display: inline-block;
    padding: 10px;
    margin-top: 30px;
}

.enroll-btn {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    border-radius: 24px;
    background: white;
    margin-left: 40px;
}

.row1 {
    width: 1440px;
    height: 800px;
    margin: auto;
    margin-top: -25px;
    background-color: whitesmoke;
}

.main {
    width: 876px;
    height: 327px;
    margin-left: 60px;

}
.heading{
    width: 824px;
    height: 140px;
    font-size: 62px;
    margin-top: 25px;
}
.msg{
    width: 611px;
    height: 64px;
    font-size: 24px;
    margin-top: 25px;
}
.button{
    width: 394px;
    height: 59px;
    margin-top: 25px;
    
}
.button ul{
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
}
.enroll-btn1{
    display: inline-flex;
    gap: 10px;
    border-radius: 24px;
    background: blue;
    padding: 20px;
}
.enroll-btn2{
    display: inline-flex;
    gap: 10px;
    border-radius: 24px;
    background: white;
    padding: 20px;
    margin-left: 20px;
}
/* .group{
    display: grid;
    grid-template-columns: auto auto auto;
}
.img1{
    margin-top: 30px;
    margin-left: 30px;
}
.img2{
    margin-right: 30px;
}
.img3{
    background-image: url(./Rectangle\ 645.png) ; width: 400px; height: 411px;
} */
.Group{
    width: 1249px;
    height: 480px;
    margin-top: -120px;
    margin-left: 60px;
}
.row2{
    width: 1440px;
    height: 963px;
    margin: auto;
    background-color: black;
    border: 2px solid gray;
}
.text{
    width: 767px;
    height: 118px;
    margin: auto;
}
.row2 p{
    color: white;
    font-size: 56px;
    margin-top: 60px;
}
.video{
    width: 835px;
    height: 486px;
    margin: auto;
    margin-top: 65px;
}
.row2 .button{
    width: 166px;
    height: 69px;
    margin: auto;
    margin-top: 65px;
}
.enroll-btn3{
    display: inline-flex;
    gap: 10px;
    border-radius: 24px;
    background: blue;
    padding: 20px;
}
.row3{
    width: 1440px;
    height: 885px;
    margin: auto;
    background-color: black;
    border: 2px solid;
}
.heading1{
    width: 836px;
    height: 176px;
    color: white;
    font-size: 60px;
    margin-top: 50px;
    margin-left: 50px;
}
.Testimonials{
    width: 1428px;
    height: 452px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 120px;
    margin-left: 50px;
}
.row4{
    width: 1440px;
    height: 1222px;
    background-color: whitesmoke;
    margin: auto;
    border: 2px solid white;
}
.heading2{
    width: 612px;
    height: 108px;
    margin: auto;
    margin-top: 50px;
}
.heading2 h2{
    width: 612px;
    height: 58px;
    margin: auto;
    font-size: 56px;
    text-align: center;
}
.heading2 p{
    width: 612px;
    height: 26px;
    margin: auto;
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
}
.plans{
    width: 1440px;
    height: 791px;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 50px;
}
.img1{
    margin-left: 330px;
    margin-top: 50px;
}
.img2{
    margin-right: 180px;
}
.usd{
    width: 698px;
    height: 26px;
    margin: auto;
    margin-top: 50px;
    font-size: 18px;
}
.link{
    width: 128px;
    height: 25px;
    margin: auto;
    margin-top: 50px;
}
.row5{
    width: 1440px;
    height: 1099px;
    background-color: whitesmoke;
    margin: auto;
    border: 2px solid whitesmoke;
}
.heading3{
    width: 621px;
    height: 58px;
    margin: auto;
    margin-top: 50px;
    font-size: 35px;
}
.tabs{
    width: 384px;
    height: 65px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    margin-top: 30px;
}
.tabs ul{
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}
.tabs ul li{
    display: inline-flex;
    padding: 20px;
    font-size: 24px;
}
.one{
    border-radius: 24px;
    background: blue;
}
.question{
    width: 824px;
    height: 176px;
    margin: auto;
    margin-top: 50px;
    border-bottom: 1px solid;
}
.text1{
    display: grid;
    grid-template-columns: auto auto;
}
.Q1{
    width: 742px;
    height: 60px;
    font-size: 25px;
}
.Q2{
    transform: rotate(45deg);
    margin-top: 10px;
}
.text2{
    width: 718px;
    height: 52px;
    font-size: 19.5px;
    margin-top: 15px;
}
.question1{
    width: 824px;
    height: 456px;
    margin: auto;
    margin-top: 10px;
}
.text3{
    display: grid;
    grid-template-columns: auto auto;
    width: 824px;
    height: 84px;
    margin-top: 35px;
    border-bottom: 1px dotted lightslategray;
}
.text4{
    display: grid;
    grid-template-columns: auto auto;
    width: 824px;
    height: 54px;
    margin-top: 35px;
    border-bottom: 1px dotted lightslategray;
}
.Q3{
    width: 742px;
    height: 60px;
    font-size: 25px;
}
.Q4{
    margin-left: 10px;
}
.row6{
    width: 1440px;
    height: 579px;
    margin: auto;
    background-color: black;
    border: 2px solid;
}
.logo{
    width: 150px;
    height: 32px;
    color: white;
    font-size: 24px;
    margin-top: 60px;
    margin-left: 60px;
}
.links{
    width: 1280px;
    height: 220px;
    margin-top: 50px;
    margin-left: 60px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.Newsletters{
    width: 406px;
    height: 205px;
    background-color: white;
    border-radius: 12px;
}
.Newsletters h3{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 24px;
}
.Newsletters p{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 24px;
}
.links1{
    width: 358px;
    height: 48px;
    margin-top: 15px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: auto auto;
}
.links ul {
    margin-top: 20px;
    padding: 5px;
    text-decoration: none;
    list-style-type: none;
}
.links li{
    padding: 5px;
}
.email{
    width: 220px;
    height: 48px;
    border: 2px solid grey;
    border-radius: 12px;
}
.subs{
    width: 121px;
    height: 48px;
    border: 2px solid grey;
    border-radius: 12px;
    background-color: blue;
    color: white;
}
.company{
    width: 130px;
    height: 148px;
    color: white;
    font-size: 18px;
}
.resource{
    width: 125px;
    height: 148px;
    color: white;
}
.contact{
    width: 186px;
    height: 66px;
    color: white;
}
.logos{
    width: 65px;
    height: 24px;
    margin-top: 100px;
    margin-left: 60px;
}
.btm{
    width: 237px;
    height: 21px;
    color: wheat;
    margin-top: 60px;
    margin-left: 60px;
}