*{
    margin: 0px;
    padding: 0px;
}
.row1{
    color: wheat;
    background-color: darkslategrey;
}
#header {
    display: block;
    width: 960px;
    height: 145px;
    margin: 0 auto;
    padding: 20px;
}
#header .basic {
    float: left;
    cursor: pointer;
}
#header form {
    display: block;
    width: 290px;
    float: right;
    margin: 20px 0;
    padding: 0;
}
form, fieldset, legend {
    margin: 0;
    padding: 0;
    border: none;
}
#header form input {
    float: left;
    width: 200px;
    margin: 0;
    padding: 5px;
    color: wheat;
    background-color: black;
}
input, textarea, select {
    font-size: 12px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
#header form #sf_submit {
    display: block;
    float: right;
    width: 70px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: wheat;
    background-color: orange;
    border: none;
    cursor: pointer;
}
#header form input {
    margin: 0;
    padding: 5px;
}
#header nav {
    display: block;
    width: 100%;
    margin: 0;
    color: wheat;
    background-color: black;
    clear: both;
}
nav ul {
    margin: 0;
    padding: 20px;
    list-style: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
    text-align: left;
}
#header nav li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;
}
#bt{
    color: wheat;
    background-color: orange;
}
nav li a {
    color: wheat;
    background-color: black;
    outline: none;
    text-decoration: none;
}
nav ul li a:hover {
    color: orange;
}

.row2 {
    width: 960px;
    height: 300px;
    margin: auto;
    padding: 20px;
    color: wheat;
    background-color: white;
    display: block;
}
.Jes{
    display: block;
    float: right;
}
.Jes img{
    width: 620px;
    height: 300px;
}
.Jes-msg{
    display: block;
    float: left;
    width: 290px;
    height: 260px;
    padding: 20px;
    overflow: hidden;
    color: wheat;
    background-color: darkolivegreen;
    line-height: 1.2em;
}
h2{
    margin-bottom: 10px;
}
.more{
    text-align: right;
}
.more a{
    color: orange;
}
.row3 {
    width: 960px;
    height: 180px;
    margin: auto;
    padding: 20px;
    color: lightslategray;
    background-color: white;
    display: block;
    border-bottom: 1px solid black;
}
.test{
    width: 470px;
    display: block;
    float: left;
}
.test-1{
    width: 470px;
    float: right;
}
.test-1 ul{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}
footer{
    text-align: center;
}
footer a{
    color: orange;
}
.row4 {
    width: 960px;
    margin: auto;
    padding: 20px;
    color: lightslategray;
    background-color: white;
    display: block;
    line-height:1.6em;
    display: flex;
}
.title{
    /* margin: 0 0 25px 0; */
    padding: 0 0 8px 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.row4 header h2 {
    font-size: 13px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.imgl {
    float: left;
    margin: 0 15px 15px 0;
    clear: left;
}
.row4 nav a{
    padding: 0 0 0 10px;
}
.row4 a{
    color: orange;
    background-color: white;
}
.testing-2 nav li {
    margin: 0 0 8px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid lightseagreen;
}
nav li a {
    color: wheat;
    background-color: black;
    outline: none;
    text-decoration: none;
}
.testing-1, .testing-2{
    width: 225px;
    margin: 0 20px 0 0;
}
.testing-3{
    width: 470px;
    height: 200px;
    float: left;
}

.Slide-1{
    width: 100%;
    height: 60px;
    background-color: darkslategrey;
   
}
.bottom{
    width: 960px;
    margin: auto;
    padding: 20px;
}
.left-msg {
    color: antiquewhite;
    float: left;
    
}
.right-msg {
    float: right;
    color: antiquewhite;
}