<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .testing{
        float: left;
    }
    .testing-1{
        float: left;
    }
    .testing-2{
        float: right;
    }
</style>
<body>
    <Div class="testing">
        <img src="./Display.jpg" width="240px" height="240px" alt="">
        
        
    </Div>
    <div class="testing-1">
        <img src="./image-1.webp" width="240px" height="240px" alt="">

    </div>
    <div class="testing-2">
        <img src="./Nature Background.jpg" width="240px" height="240px" alt="">

    </div>
</body>
</html>