#drag-container {
    margin: 20px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    margin: 5px;
}


#drop-container {
    margin: 20px;
    border: 2px dashed #ccc;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#drop-target {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecf0f1;
    transition: background-color 0.3s;
}
