.App {
  text-align: center;
  /* min-height: 100vh;
  display: grid;
  background: #e2d4ff; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* WeatherApp  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weather {
  place-self: center;
  padding: 40px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #2f4680, #500ae4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-bar input {
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #626262;
  background: #ebfffc;
  font-size: 18px;
}

.search-bar img {
  width: 50px;
  padding: 15px;
  border-radius: 50%;
  background: #ebfffc;
  cursor: pointer;
}

.temperature {
  color: #fff;
  font-size: 80px;
  line-height: 1;
}

.location {
  color: #fff;
  font-size: 40px;
}

.weather-data {
  width: 100%;
  margin-top: 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.weather-data .col {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 22px;
}

.weather-data .col span {
  display: block;
  font-size: 16px;
}

.weather-data .col img {
  width: 26px;
  margin-top: 10px;
}

/* TodoList */

.App1 {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

input {
  padding: 6px;
  margin-right: 10px;
  font-size: 16px;
  width: calc(90% - 150px);
  box-sizing: border-box;
}

button {
  padding: 6px 20px;
  font-size: 16px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

button.add1 {
  background-color: #007bff;
}

button.add1:hover {
  background-color: #0056b3;
}

button.delete {
  background-color: #dc3545;
}

button.delete:hover {
  background-color: #c82333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 6px;
  margin: 0 auto;
  /* border: 1px solid #ddd; */
  max-width: 70%;
  /* border-radius: 5px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  cursor: pointer;
}

/* QuizApp */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #001e4d;
}

.app {
  background: #fff;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}

.app h1 {
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
}

.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover:not([disabled]) {
  background: #222;
  color: #fff;
}

.btn:disabled {
  cursor: no-drop;
}

#next-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.correct {
  background: #9aeabc;
}

.incorrect {
  background: #ff9393;
}

/* GeneratePassword */


.container1 {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.generated-password {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: #333;
  text-align: center;
  word-break: break-all;
}


/* NotePad */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container2 {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #cf9aff, #95c0ff);
  color: #fff;
  padding-top: 4%;
  padding-left: 10%;
}

.container2 h1 {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
}

.container2 h1 img {
  width: 60px;
  margin-right: 10px;
}

.container2 button img {
  width: 25px;
  margin-right: 8px;
}

.container2 button {
  display: flex;
  align-items: center;
  background: linear-gradient(#9418fd, #571094);
  color: #fff;
  font-size: 16px;
  border: 0;
  outline: 0;
  border-radius: 40px;
  padding: 15px 25px;
  margin: 30px 0 20px;
  cursor: pointer;
}

.notes-container {
  display: flex;
  flex-direction: column;
}

.note {
  position: relative;
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  background: #fff;
  color: #333;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
}

.note img {
  position: absolute;
  width: 25px;
  cursor: pointer;
  bottom: 15px;
  right: 15px;
}

.input-box {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  background: none;
  color: #333;
  font-family: inherit;
  font-size: 16px;
  /* overflow-wrap: break-word; */
}


/* AgeCalculator */


* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container3 {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #4203a9, #90bafc);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.calculator h1 {
  font-size: 60px;
}

.calculator h1 span {
  color: #ffff76;
}

.input-box {
  margin: 40px 0;
  padding: 35px;
  border-radius: 10px;
  background: rgba(225, 225, 225, 0.3);
  display: flex;
  align-items: center;
}

.input-box input {
  flex: 1;
  margin-right: 20px;
  border: 0;
  outline: 0;
  font-size: 18px;
  position: relative;
  padding: 14px 20px;
  border-radius: 5px;
}

.input-box button {
  background: #ffff76;
  border: 0;
  outline: 0;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: background 0.3s;
}

.input-box button:hover {
  background: #e5e55e;
}

#result {
  font-size: 24px;
  margin-top: 20px;
}

/* QuoteGenerator */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bbc6fa;
}

.quote-box {
  background: #fff;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.quote-box h2 {
  font-size: 32px;
  margin-bottom: 40px;
  position: relative;
}

.quote-box h2::after {
  content: '';
  width: 75px;
  height: 3px;
  border-radius: 3px;
  background: rgb(23, 124, 229);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.quote-box blockquote {
  font-size: 26px;
  min-height: 110px;
}

.quote-box blockquote::before,
.quote-box blockquote::after {
  content: '"';
}

.quote-box span {
  display: block;
  margin-top: 10px;
  float: right;
  position: relative;
}

.quote-box span::before {
  content: '';
  width: 20px;
  height: 2px;
  background: rgb(23, 124, 229);
  position: absolute;
  top: 50%;
  left: -30px;
}

.quote-box div {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.quote-box button {
  background: rgb(23, 124, 229);
  color: #fff;
  border-radius: 25px;
  border: 1px solid rgb(23, 124, 229);
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
}

.quote-box button img {
  width: 20px;
  margin-right: 10px;
}

.quote-box button:nth-child(2) {
  background: transparent;
  color: #333;
}

/* QRCodeGenerator */


* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #262a2f;
}

.container4 {
  width: 400px;
  padding: 25px 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  position: absolute;
}

.container4 p {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 8px;
}

.container4 input {
  width: 100%;
  height: 50px;
  border: 1px solid #494eca;
  outline: 0;
  padding: 10px;
  margin: 10px 0 20px;
  border-radius: 5px;
}

.container4 input.error {
  animation: shake 0.1s linear 10;
  border-color: red;
}

.container4 button {
  width: 100%;
  height: 50px;
  background: #494eea;
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#imgBox {
  width: 200px;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}

#imgBox.show-img {
  max-height: 300px;
  margin: 10px auto;
  border: 1px solid #d1d1d1;
}

#imgBox img {
  width: 100%;
  padding: 10px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

/* ToastNotification */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7edff;
}

.buttons1 {
  margin: 50px;
}

.buttons1 button {
  background: #333;
  color: #fff;
  border: 0;
  outline: 0;
  width: 120px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
}

#toast-box {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}

.toast {
  width: 400px;
  height: 80px;
  background: #fff;
  font-weight: 500;
  margin: 15px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  position: relative;
}

.toast i {
  margin: 0 20px;
  font-size: 35px;
  color: green;
}

.toast.success i {
  color: green;
}

.toast.error i {
  color: red;
}

.toast.invalid i {
  color: orange;
}

.progress-bar {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: green;
  animation: anim 5s linear forwards;
}

.toast.error .progress-bar {
  background: red;
}

.toast.invalid .progress-bar {
  background: orange;
}

@keyframes anim {
  100% {
    width: 0;
  }
} */

/* MusicPlayer */

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container5 {
  width: 100%;
  height: 100vh;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.music-player {
  background: #ffe0e5;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

nav .circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
  display: flex;
  align-items: center;
  justify-content: center;
}

.song-img {
  width: 220px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

.music-player p {
  font-size: 14px;
  color: #333;
}

#progress {
  /* -webkit-appearance: none; */
  width: 100%;
  height: 6px;
  background: #f53192;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #f53192;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.control {
  display: flex;
  justify-self: center;
  align-items: center;
}

.control div {
  width: 60px;
  height: 60px;
  margin: 20px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  border-radius: 50%;
  color: #f53192;
  box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
  cursor: pointer;
  justify-content: center;
}

.control div:nth-child(2) {
  transform: scale(1.5);
  background: #f53192;
  color: #fff;
}

/* StopWatch */

body {
  background: #edeaff;
}

.Stopwatch {
  width: 90%;
  max-width: 600px;
  background-size: cover;
  background-position: center;
  border: 2px solid;
  text-align: center;
  padding: 50px 0;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  margin: 200px auto 0;
}

.Stopwatch h1 {
  font-size: 64px;
  margin-top: 50px;
  font-weight: 600;
}

.button2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button2 img {
  width: 50px;
  margin: 0 20px;
  cursor: pointer;
}

.button2 img:nth-child(2) {
  width: 80px;
}

/* Calculator */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container6 {
  width: 100%;
  height: 100vh;
  background: #e3f9ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background: #3a4452;
  padding: 20px;
  border-radius: 10px;
}

.calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
  border: 2px solid white;
}

form input.equal {
  width: 145px;
}

form input.operator {
  color: yellowgreen;
}

/* PopUp */

.container7 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #ffffff;
  border-radius: 10px;
  padding: 50px 30px;
  text-align: center;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.open-popup {
  transform: translate(-50%, -50%) scale(1);
}

.popup img {
  width: 50px;
  margin-bottom: 20px;
}

.popup h2 {
  margin-bottom: 10px;
}

.popup p {
  margin-bottom: 20px;
}

.popup button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* PasswordToggle */

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #250072;
}

.input-box1 {
  background: #fff;
  width: 90%;
  max-width: 500px;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 300px auto;
  display: flex;
  align-items: center;
}

.input-box1 input {
  width: 100%;
  border-radius: 10px 0;
  border: 0;
  outline: 0;
  font-size: 24px;
  color: #555;
}

.input-box1 img {
  width: 35px;
  cursor: pointer;
}

/* Validation */

body {
  font-family: Arial, sans-serif;
  background-color: #2c3e50;
  color: #ecf0f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: #34495e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #e74c3c;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.error {
  color: #e74c3c;
}

/* ImageGallery */

body {
  /* background-color: black; */
}

.gallery {
  width: 900px;
  display: flex;
  overflow-x: scroll;
}

.gallery div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}

.gallery img {
  width: 100%;
  filter: grayscale(100%);
  transition: transform 0.5s;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.gallery div img:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}

/* PasswordStrength */

.strength {
  margin-top: 10px;
  font-weight: bold;
}

.weak {
  color: red;
}

.medium {
  color: orange;
}

.strong {
  color: green;
}

/* BackGroundChange */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.background-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* DropDown */

body {
  font-family: Arial, sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980b9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ProgressBar */

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

body {
  /* background: #e3edf7; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill {
  width: 160px;
  height: 160px;
  position: relative;
}

.outer {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  align-items: center;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7)
}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

#number {
  font-weight: 600;
  color: #555;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  transition: stroke-dashoffset 0.3s linear;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}
