*{
    margin: 0px;
    padding: 0px;
}
.row1{
    width: 100%;
    height: 100px;
    background: darkslategrey;
    overflow: auto;
    margin-bottom: 30px;
}
#header{
    width: 960px;
    height: 100px;
    margin: auto;

}
.basic{
    width: 300px;
    height: 100px;
    margin: auto;
    float: left;
    background-color: darkslategrey;
    color: white;
}
.basic h1{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.basic p{
    font-size: 15px;
    margin-left: 10px;}

nav{
    width: 420px;
    height: 30px;
    margin: auto;
    float: right;
    padding: 20px;
    margin-top: 15px;
    background: black;
}
nav ul li{
    display: inline;
    font-size: 15px;
    color: white;
}
ul li a{
   text-decoration: none;
   color: white;
   padding: 10px;
}

ul li a:hover{
    color: yellow;
}
.Jeswanth{
    width: 960px;
    margin: auto;
    margin-bottom: 30px;
}
.fourcolumns{
    width: 225px;
    margin: auto;
    padding: 4px;
    display: inline-block;
}
.testing{
    padding: 0 0 30px 0;
    display: flex;
    border-bottom: 1px solid
}
.testing figure{
    display: inline;
    float: left;
}
.testing strong{
    float: left;
    margin: 8px 0 0 10px;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.testing p{
    display: block;
    margin: 0;
    padding: 5px 0 0 0;
    clear: both;
    line-height: 1.6em;
}
.testing .more{
    text-align: right;
}
.row2 a{
    color: orangered;
    text-decoration: none;
}
.clear{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    clear: both;
}
.testing-1{
    margin-top: 30px;
    border-bottom: 2px solid;
    margin: auto;
    padding: 10px;
}
.test{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.clear {
    display: block;
    margin: auto;
    margin-left: 0%;
    clear: both;
}
figure ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
figcaption {
    display: block;
    width: 100%;
    margin-top: 20px;
    text-align: right;
}
.mainContent{
    display: flex;
    justify-content: space-between;
}
.content{
    width: 630px;
    height: 360px;
}
.posts ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.posts ul li {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.posts ul li.last {
    margin-bottom: 0;
}
.posts p{
    text-align: left;
}
.posts ul li article figure img {
    float: left;
    width: 180px;
    height: 150px;
    margin: 0;
    padding: 4px;
    border: 1px solid wheat;
}
.posts ul li article figure figcaption {
    display: block;
    float: right;
    width: 410px;
    height: auto;
}
.posts ul li article figure h2 {
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}
.right_column{
    width: 280px;
    height: auto;
}
.right_column div {
    display: block;
    width: 100%;
}
.right_column div ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.right_column h2 title {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid wheat;
}
  
.right_column div {
    display: block;
    width: 100%;
}
.right_column div ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.right_column div li {
    margin: 0 0 3px 0;
    padding: 0;
}
.right_column div li.last {
    margin-bottom: 0;
}
.right_column div a {
    display: block;
    margin: 0;
    padding: 5px 10px 5px 20px;
    color: lightslategray;
    text-decoration: none;
    border-bottom: 1px dotted lightslategray;
}
.right_column div a:hover {
    color: orangered;
    background-color: wheat
}
footer{
    text-align: center;
}
.Slide-3{
    width: 100%;
    height: 60px;
    background: darkslategray;
   
}
.bottom{
    width: 960px;
    margin: auto;
    padding: 20px;
}
.left-msg {
    color: antiquewhite;
    float: left;
    
}
.right-msg {
    float: right;
    color: antiquewhite;
}

      