

body {
  background-color: var(--primary-color);
}

:root {
  --primary-color: white;
  --secondary-color: black;
}

.dark-theme {
  --primary-color: black;
  --secondary-color: white;
}

#dark {
  margin-left: 400px;
  margin-top: 100px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  height: 300px;
  margin-right: 300px;
}
#dt{
   
    color: var(--primary-color);
   

}

#main {
  
  color: white;
  text-align: center;
}
#main1 {
 
    color: var(--secondary-color);
    text-align: center;
  }
  
#l1 {
  color: black;
}
