.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #39297d;
  color: #fff;
}

h1 {
  text-align: center;
  margin: 100px auto 50px;
  font-weight: 600;
}

form {
  width: 90%;
  max-width: 600px;
  margin: auto;
  height: 80px;
  background: #434989;
  display: flex;
  align-items: center;
}

form input {
  flex: 1;
  height: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  color: #fff;
  font-size: 18px;
  padding: 0 30px;
}

form button {
  padding: 0 40px;
  height: 100%;
  background: #ff3929;
  font-size: 18px;
  border: 0;
  outline: 0;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

::placeholder {
  color: #fff;
  font-size: 18px;
}

#show-more-btn {
  background: #ff3929;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 10px auto 100px;
  cursor: pointer;
  display: block;
}

#Search-result {
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

#Search-result img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 5px;
}


