#main{
    width: 900px;
    height: 900px;
    margin: 0 auto;
    background-color: lightsalmon;
    display: flex;
    text-align: center;
    align-items: center;


}
#frist{
    width: 700px;
    height: 700px;
    margin: 0 auto;
    background-color: rgb(122, 255, 184);
    display: flex;
    text-align: center;
    align-items: center;

}

#second{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(255, 122, 157);
    display: flex;
    text-align: center;
    align-items: center;


}
#third{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: rgb(180, 122, 255);
    display: flex;
    text-align: center;
    align-items: center;

}

#last{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-color: rgb(122, 200, 255);
    display: flex;
    text-align: center;
    align-items: center;

   
}
