<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic 88</title>
    <link rel="stylesheet" href="Jes-1.css">
    <style></style>
</head>
<body>
    <div class="row1">
        <header id="header" class="clear">
            <div class="basic"> 
                <h1>Basic 88</h1>
                <p>Free HTML5 Website Template</p>
            </div>
            <nav>
                <ul>
                    <li><a href="">Text Link</a></li>
                    <li><a href="">Text Link</a></li>
                    <li><a href="">Text Link</a></li>
                    <li><a href="">Text Link</a></li>
                    <li><a href="">Text Link</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <div class="Jeswanth">
        <img src="./muddy_comp.2.jpg" alt="">
    </div>
    
    <div class="Slide">
        <div id="One">
            <img src="./Chittoor.jfif" alt="">
            <br><br>
            <h3>Chittoor</h3>
            <p>Chittoor city lies on the banks of Neeva River at the southernmost part of Andhra Pradesh state. </p><br>
            <a href="">Read More</a>

        </div>
        <div id="Two">
            <img src="./Vellore.jpg" alt="">
            <br><br>
            <h3>Vellore</h3>
            <p>The city has a tropical savanna climate. It is in the Vellore district of the South Indian state, Tamil Nadu.</p><br>
            <a href="">Read More</a>

        </div>
        <div id="Three">
            <img src="./Ranipet-District.webp" alt="">
            <br><br>
            <h3>Ranipet</h3>
            <p>Ranipet is a district of Tamil Nadu, India, formed by trifuricating the Vellore district. The Government of Tamil Nadu.</p>
            <a href="">Read More</a>

        </div>

    </div><br><br><br><br><br><br>

    <div class="Slide-1">
        <div id="One-1">
            <h3>Chittoor District</h3>
            <p>Chittoor is a city and district headquarters in Chittoor district of the Indian state of Andhra Pradesh. It is also the mandal and divisional headquarters of Chittoor mandal and Chittoor revenue division respectively. The city has a population of 153,756 and that of the agglomeration is 175,647.</p>
            <a href="">Read More</a>

        </div>
        <div id="Two-1">
            <img src="./Chittoor_Dist" alt="">

        </div>
        
    </div><br><br><br><br><br><br>

    <div class="Slide-2">
        <div id="Jachu">
            <div class="Abc-1">
                <h3>LINK BLOCK</h3>
                <ul>
                    <p>ABCDEFGH</p>
                    <p>ABCDEFGH</p>
                    <p>ABCDEFGH</p>
                    <p>ABCDEFGH</p>
                </ul>
            </div>

            <div class="Abc-2">
                <h3>LINK BLOCK</h3>
                <ul>
                    <p>ABCDEFGH</p>
                    <p>ABCDEFGH</p>
                    <p>ABCDEFGH</p>
                    <p>ABCDEFGH</p>
                </ul>
            </div>

            <div class="Abc-3">
                <h3>LINK BLOCK</h3>
                <ul>
                    <p>ABCDEFGH</p>
                    <p>ABCDEFGH</p>
                    <p>ABCDEFGH</p>
                    <p>ABCDEFGH</p>
                </ul>
            </div>

            <div class="Abc-4">
                <h3>LINK BLOCK</h3>
                <ul>
                    <p>ABCDEFGH</p>
                    <p>ABCDEFGH</p>
                    <p>ABCDEFGH</p>
                    <p>ABCDEFGH</p>
                </ul>
            </div>
        </div>

    </div>
</body>
</html>