<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Basic 90</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="./Jes-Basic90.css" type="text/css">
</head>
<body>
<div class="row1">
  <header id="header" class="clear">
    <div class="basic"> 
        <h1>Basic 90</h1>
        <p>Free HTML5 Website Template</p>
    </div>
    <form action="#" method="post">
      <fieldset>
        <legend>Search:</legend>
        <input type="text" value="Search Our Website&hellip;">
        <input type="submit" id="sf_submit" value="submit">
      </fieldset>
    </form>
    <nav>
      <ul>
        <li><a href="#">Text Link</a></li>
        <li><a href="#">Text Link</a></li>
        <li><a href="#">Text Link</a></li>
        <li><a href="#">Text Link</a></li>
        <li class="last"><a href="#">Text Link</a></li>
      </ul>
    </nav>
  </header>
</div>

<div class="row2">
  <div class="container">
    <section class="slider">
      <figure><img src="./Tirupati.jpg" width="630px" height="300px">
        <figcaption>
          <h2>About Tirupati</h2>
          <p>Tirupati is a city in the Indian state of Andhra Pradesh. Its Sri Venkateswara Temple sits atop one of the the 7 peaks of Tirumala Hills, attracting scores of Hindu pilgrims. Sri Venkateswara National Park, home to the temple, also contains the Sri Venkateswara Zoological Park with lions and primates. Nearby, next to a waterfall and cave believed to be sacred, Sri Kapileswara Swamy Temple is dedicated to Lord Shiva.</p>
          <footer class="more"><a href="#">Read More &raquo;</a></footer>
        </figcaption>
      </figure>
    </section>

    <div class="intro">
      <section class="clear">

        <article class="testing">
          <h2>About Tirumala Tirupati</h2>
          <p>Tirupati is a city in the Indian state of Andhra Pradesh. It is the administrative headquarters of the Tirupati district.</p>
          <p>Tirupati has one of the most visited tourist attraction as well as religious shrine and the second richest temple in the world, the Tirumala Venkateswara Temple. This temple is one of the holiest Hindu pilgrimage sites.</p>
        </article>

        <article class="testing lastbox">
          <figure>
            <ul class="clear">
              <li><a href="#"><img src="./Tirupati-1.jpg" width="130" height="130" alt=""></a></li>
              <li><a href="#"><img src="./Tirupati-1.jpg" width="130" height="130" alt=""></a></li>
              <li class="last"><a href="#"><img src="./Tirupati-1.jpg" width="130" height="130" alt=""></a></li>
            </ul>
            <figcaption><a href="#">View Our Image Gallery Here &raquo;</a></figcaption>
          </figure>
        </article>
      </section>
    </div>

    <div class="homepage">
      <section class="testing-1">
        <h2 class="title">From The Blog</h2>
        <article>
          <header>
            <h2>Post Title</h2>
            <address>
            <a href="#">Jeswanth</a>, domainname.com
            </address>
            <time datetime="2024-03-20">Friday, 20<sup>th</sup> March 2024</time>
          </header>
          <p>Tirupati is a city in the Indian state of Andhra Pradesh. It is the administrative headquarters of the Tirupati district.</p>
          <footer class="more"><a href="#">Read More &raquo;</a></footer>
        </article>
      </section>
      <section class="testing-2">
        <h2 class="title">Quick Links</h2>
        <nav>
          <ul>
            <li><a href="#">About Chittoor</a></li>
            <li><a href="#">About Vellore</a></li>
            <li><a href="#">About Ranipet</a></li>
            <li><a href="#">About Tirupati</a></li>
            <li class="last"><a href="#">About Tirumala</a></li>
          </ul>
        </nav>
      </section>
      <section class="testing lastbox">
        <h2 class="title">About US</h2>
        <img class="imgl" src="./Tirupati-1.jpg" width="130" height="130" alt="">
        <p>Tirupati has one of the most visited tourist attraction as well as religious shrine and the second richest temple in the world, the Tirumala Venkateswara Temple. This temple is one of the holiest Hindu pilgrimage sites.</p>
        <footer class="more"><a href="#">Read More &raquo;</a></footer>
      </section>
    </div>
  </div>
</div>

<footer class="Slide-3">
  <div class="left-msg">Copyright &copy; 2018 - All Rights Reserved - Domain Name.</div>
  <div class="right-msg">Template by OS Template.</div>
</footer>