.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  background: #201f21;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-box {
  width: 400px;
  max-width: 90%;
  position: relative;
}

.input-box input {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  border: 1px solid #ccc;
  outline: none;
  color: #fff;
  background: transparent;
}

button {
  background: transparent;
  border: 0;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

button img {
  width: 35px;
}

#message {
  position: absolute;
  bottom: -30px;
  color: #fff;
  font-size: 15px;
}

::placeholder {
  font-size: 15px;
}

